$family-sans-serif: Verdana, Geneva, sans-serif;

$phone: 500px;
$tablet: 750px;
$desktop: 900px;
$widescreen: 1050px;
$fullhd: 1200px;

$primary: #891519;
$link: $primary;
$info: #151989;
$success: #158985;
$warning: #894B15;
$danger: #CB1F25;
